/* Aciklama Satiri */

/* class -> .text-red {} */
/* id -> #id-bilgisi {} */

h1,h2,h3,h4,h5,h6 {
    color: blue;
}
h1 {
    font-size: 30px;
}
p {
    font-size: 20px;
}
#first-article {
    font-size: 40px;
}
.text-red {
    color: red;
}
.fs-10 {
    font-size: 10px;
}
.fs-30 {
    font-size: 30px;
}
.fs-60 {
    font-size: 60px;
}